.container{

    .request{
        display: flex;
        flex-direction: row;
    }

    

   &__request{
       margin-bottom: 40px;
   }
    
    
    h3 {
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        border-bottom: solid 2px #fc176f;
        margin-bottom: 35px;
        margin-top: 37px;
    }

    .header-request{
        display: flex;
        width: 370px;
        height: 16px;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;

        h2{
            font-size: 13px;
            color: #A1ACB4;
            &:not(:last-child) {
                margin-right: 59px;
            }

        }
    }

    

    
    
}